.card-styles {
    padding: 20px;
    background-color: rgb(233, 230, 230);
    border-radius: 10px;
}
.card-styles input {
    width: 100%;
}
.search-button {
    margin-top: 10px;
    width: 100%;
    background-color: rgba(255, 110, 64, 1);
    color: white;
    font-weight: 700;
}
.place-style {
    background-color: rgba(255, 110, 64, 1);
    padding: 20px;
    border-radius: 6px;
    font-weight: 700;
}
